extends layout.pug

block content 
   h2=pageTitle
      h4
         ul
            li 
               a(href=`/stories/1/edit`) EditStory
            li 
               a(href=`/stories/1/delete`) DeleteStory