extends layout.pug

block content 
   h2=pageTitle
      h4
         ul
            li 
               a(href=`users/edit-profile`) User Edit-Profile
            li 
               a(href=`users/1`) User Select