extends templates/layout

block content
  h1 Add Movies
  form(method="POST")
      input(placeholder="Title", type="text" name="title")
      textarea(placeholder="Synopsis", name="synopsis")
      input(placeholder="genres, separated by comma.", type="text" name="genres")
      input(type="submit", value=" ADD Movie")